---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout
  title="Submissions — Antiwar.com"
  description="Submission guidelines for Antiwar.com: how to submit original articles and op-ed pieces."
  heading="Submissions"
  intro="We accept article submissions from anyone who can add desirable content to our pages."
>
  <p>
    <a href="mailto:editor@antiwar.com?Subject=Submission">Click here to mail submissions</a>.
    For news links, use the
    <a href="https://antiwar.com/page/submit-link" rel="external">links submission form</a>.
  </p>
  <p>
    Hi! If you&rsquo;ve gotten this far, then you definitely know Antiwar.com is the biggest
    anti-interventionist, pro-peace website on the net, with over <em>85,000 unique</em> visitors
    per day! In keeping with our principles, we accept article submissions from anyone who can add
    desirable content to our pages.
  </p>
  <p>We do have some simple, common sense rules:</p>
  <ol>
    <li>Please keep your submissions on subject.</li>
    <li>
      Formatting:
      <ul>
        <li>
          Please submit all pieces in a Word document, with no fancy formatting or fonts. Simple
          Times New Roman 12pt. font, or whatever the default is on your computer, is fine. Feel
          free to also paste your text into the body of the email, but this is optional.
        </li>
        <li>Do not indent.</li>
        <li>Do not use bullets on your lists.</li>
        <li>
          Do not use HTML tags in your piece, except for embedded links. If you would like to
          submit your piece already formatted in HTML, send us an HTML document.
        </li>
      </ul>
    </li>
    <li>
      Please include a short (one small paragraph) bio with your piece, and include an email
      address to which you would like to have correspondence sent. If you have a website, please
      include that as well.
    </li>
    <li>
      Always, always link to sources. Always! If you make a statement that isn&rsquo;t common
      knowledge, especially statistics, you must back it up with a link. If you need help with
      this, you can always ask us for some research tips. But we&rsquo;ll probably just tell you to
      go to Google anyhow. Please embed the links
      <a href="https://antiwar.com" rel="external">like this</a>, not like this:
      (http://www.antiwar.com/).
    </li>
    <li>
      Please title your submission. We may decide to change it at publication, but at least
      we&rsquo;ll have something off which we can work.
    </li>
    <li>
      Please let us know whether or not your piece is an original submission. We prefer them to be
      original, but we will reprint exceptional pieces. Antiwar.com does not pay for most submitted
      articles. If you expect payment, please let us know at the time you make the submission so
      that we can come to an agreement.
    </li>
    <li>
      If your submission is rejected, please don&rsquo;t stop sending. Acceptance depends on a
      variety of factors, including timeliness, style, and any number of editorial requirements of
      the moment that may not necessarily reflect on your writing ability.
    </li>
    <li>
      If you have submitted a piece and haven&rsquo;t heard back from us in a reasonable amount of
      time, feel free to give us a &ldquo;what&rsquo;s up?&rdquo; email. Sometimes things get put
      on the back burner when breaking news hits&hellip; or maybe it just slipped our minds. Hey,
      we&rsquo;re human, too.
    </li>
  </ol>
  <p>
    That&rsquo;s basically it. You are encouraged to send us op-ed pieces, we just ask that you
    please follow our easy guidelines.
  </p>
</PageLayout>
